<header>
    <div class="navbar">
        <div class="nav-inner">
            <div class="nav-left">
                <a href="#" class="logo">
                    <div class="logo-icon"></div>
                    <span class="logo-text">PC-FOR-YOU</span>
                </a>
                <nav>
                    <a href="#shop">Components</a>
                    <a href="#">Pre-Built</a>
                    <a href="#deals">Deals</a>
                    <a href="#">Support</a>
                </nav>
            </div>
            <div class="nav-right">
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search-input" placeholder="Search">
                </div>

                <div class="icon-button" id="userIcon">
                        <i class="user-icon fa-regular fa-user" style="color: white;"></i>
                        <div class="user-dropdown" id="userDropdown"></div>
                </div>
    

                <a href="#">
                    <button class="icon-button">
                        <span class="cart-icon material-symbols-outlined">
                            shopping_cart
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>