{% extends "index.html" %}
{% block title %}Graphics Cards{% endblock %}

{% block content %}
<div class="shopc-product-page">

    <!-- FILTER SIDEBAR -->
    <aside class="shopc-filters">
        <h2>Filters</h2>

        <form method="GET" action="{% url 'monitors' %}" id="filterForm">

            <!-- PRICE -->
            <div class="shopc-filter-group">
                <h4>Price</h4>
                <input type="range" 
                       id="priceSlider"
                       name="price"
                       min="0"
                       max="300000"
                       value="{{ request.GET.price|default:300000 }}">
                <div class="shopc-price-values">
                    <span>₹0</span>
                    <span id="priceValue">₹{{ request.GET.price|default:300000 }}</span>
                </div>
            </div>

            <!-- VRAM -->
            <div class="shopc-filter-group">
                <h4>Screen Size</h4>
                {% for size in size_options %}
                <label>
                    <input type="checkbox" name="size" value="{{ size }}"
                        {% if size|stringformat:"s" in selected_size %}checked{% endif %}
                        onchange="this.form.submit()">
                    {{ size }} Inch
                </label>
                {% endfor %}
            </div>

            {% comment %} <!-- BRAND -->
            <div class="shopc-filter-group">
                <h4>Brand</h4>
                {% for brand in brand_options %}
                <label>
                    <input type="checkbox" name="brand" value="{{ brand }}"
                        {% if brand in selected_brands %}checked{% endif %}
                        onchange="this.form.submit()">
                    {{ brand }}
                </label>
                {% endfor %}
            </div> {% endcomment %}

        </form>
    </aside>

    <!-- PRODUCT LIST -->
    <main class="monitor-products">
        <h2 style="color: white;">Monitors</h2>

        <div class="shopc-product-grid">

            {% for monitor in monitors %}
            <div class="shopc-product-card">
                <a href="{% url 'product_detail' monitor.id %}" style="text-decoration: none;">
                    <div class="shopc-img-box">
                        {% if monitor.image %}
                        <img src="{{ monitor.image.url }}" alt="{{ monitor.name }}">
                        {% endif %}
                    </div>

                    <h3 class="shopc-product-name">{{ monitor.name }}</h3>

                    <div class="shopc-product-bottom">
                        <span class="shopc-price">₹{{ monitor.price }}</span>
                        <form action="{% url 'add_to_cart' monitor.id %}" method="post">
                            {% csrf_token %}
                            <button class="shopc-add-btn">Add to Cart</button>
                        </form>
                    </div>
                </a>

                {% comment %} buy-now  {% endcomment %}

                
                <div class="buy-now-div">
                    <a href="{% url 'buy_now_checkout' monitor.id %}">
                    <button class="buy-now">Buy Now</button>
                    </a>
                </div>

            </div>
            {% empty %}
            <p style="color: white;">No products found for selected filters.</p>
            {% endfor %}

        </div>
    </main>

</div>

<script>
    const slider = document.getElementById("priceSlider");
    const priceVal = document.getElementById("priceValue");
    const form = document.getElementById("filterForm");

    slider.style.setProperty("--val", (slider.value / slider.max * 100) + "%");

    slider.oninput = function () {
        priceVal.textContent = "₹" + this.value;
        this.style.setProperty("--val", (this.value / this.max * 100) + "%");
    };

    slider.onchange = function () {
        form.submit();
    };
</script>

{% endblock %}
