{% extends "index.html" %}
{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<div class="product-detail-page">

    <div class="product-detail-card">

        <div class="product-img-box">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <div class="product-info">

            <h1>{{ product.name }}</h1>
            <h2 class="price">₹{{ product.price }}</h2>

            <p class="desc">{{ product.description }}</p>

            <hr>

            <h3>Specifications</h3>

            {% if details %}
                <table class="spec-table">

                    {% comment %} RAM  {% endcomment %}

                    {% if details.capacity_gb %}
                    <tr><td>Capacity</td><td>{{ details.capacity_gb }} GB</td></tr>
                    {% endif %}

                    {% if details.ddr_type %}
                    <tr><td>DDR Type</td><td>{{ details.ddr_type }}</td></tr>
                    {% endif %}

                    {% if details.speed_mhz %}
                    <tr><td>Speed</td><td>{{ details.speed_mhz }} MHz</td></tr>
                    {% endif %}
                    
                    {% comment %} CABINET  {% endcomment %}

                    {% if details.form_factor %}
                    <tr><td>Form Factor</td><td>{{ details.form_factor }}</td></tr>
                    {% endif %}

                    {% if details.color %}
                    <tr><td>Color</td><td>{{ details.color }}</td></tr>
                    {% endif %}

                    {% comment %} COOLER  {% endcomment %}

                    {% if details.cooling_type %}
                    <tr><td>Cooling Type</td><td>{{ details.cooling_type }}</td></tr>
                    {% endif %}

                    {% if details.fan_count %}
                    <tr><td>Fan Count</td><td>{{ details.fan_count }}</td></tr>
                    {% endif %}

                    {% comment %} GPU  {% endcomment %}

                    {% if details.vram_gb %}
                    <tr><td>RAM</td><td>{{ details.vram_gb }}</td></tr>
                    {% endif %}

                    {% if details.chipset %}
                    <tr><td>Chipset</td><td>{{ details.chipset }}</td></tr>
                    {% endif %}

                    {% if details.interface %}
                    <tr><td>Interface</td><td>{{ details.interface }}</td></tr>
                    {% endif %}

                    {% comment %} CPU  {% endcomment %}

                    {% if details.core_count %}
                    <tr><td>Cores</td><td>{{ details.core_count }}</td></tr>
                    {% endif %}

                    {% if details.thread_count %}
                    <tr><td>Threads</td><td>{{ details.thread_count }}</td></tr>
                    {% endif %}

                    {% if details.base_clock_ghz %}
                    <tr><td>Base Clock</td><td>{{ details.base_clock_ghz }}</td></tr>
                    {% endif %}

                    {% if details.socket_type %}
                    <tr><td>Socket</td><td>{{ details.socket_type }}</td></tr>
                    {% endif %}


                </table>
            {% endif %}
            
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <button class="add-to-cart">Add to Cart</button>
            </form>

            <form action="{% url 'add_to_wishlist' product.id %}" method="post">
                {% csrf_token %}
                <button style="margin-top: 10px;">Add To Wishlist</button>
            </form>

        </div>
    </div>

</div>

{% endblock %}
